{% load static %}

<html>
    <head>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
        <script>
            google.charts.load('current', {'packages':['corechart']});
            
            function chartarizeData(data) {
                var arrayLength = data.length;
                for (var i = 1; i < arrayLength; i++) {
                    data[i][0] = new Date(data[i][0]);
                }
                return data
            }

            function drawChart(title, elementID, data, colors) {
                google.charts.setOnLoadCallback(drawCreatedChart.bind(null, title, elementID, data, colors));

                function drawCreatedChart(title, elementID, data, colors) {
                    var data = google.visualization.arrayToDataTable(
                        chartarizeData(data)
                    );

                    var options = {
                      title: title,
                      hAxis: {title: 'Time',  titleTextStyle: {color: '#333'}},
                      colors: colors,
                      explorer: {
                        actions: ['dragToZoom', 'rightClickToReset'],
                        axis: 'horizontal',
                        keepInBounds: true
                      }
                    };

                    var chart = new google.visualization.AreaChart(document.getElementById(elementID));
                    chart.draw(data, options);
                }
            }
        </script>

    </head>
    <body>
        <nav class="navbar navbar-inverse bg-inverse">
            <a href="{% url 'panel' '8hours' %}" class="btn btn-success">8 Hours</a>
            <a href="{% url 'panel' '24hours' %}" class="btn btn-success">24 Hours</a>
            <a href="{% url 'panel' 'week' %}" class="btn btn-success">Week</a>
            <a href="{% url 'panel' 'month' %}" class="btn btn-success">Month</a>
        </nav>
        <div class="container">
            {% for farm in farms %}
            <div class="col-md-12">
                <h1>{{ farm.label }}</h1>
                {% for worker in farm.workers %}
                <h3>{{ worker.label }}</h3>
                <p>{{ worker.description }}</h4>
                <div class="col-md-3"><b>Shares</b> {{ worker.newest_stat.shares }}</div>
                <div class="col-md-3"><b>Rejected Shares</b> {{ worker.newest_stat.rejected_shares }}</div>
                <div class="col-md-3"><b>Uptime</b> {{ worker.newest_stat.uptime }}</div>
                <div class="col-md-12">
                    <div id="total-hashrate-{{ worker.pk }}" width="900" height="200"></div>
                    <script>
                        drawChart('Total hashrate', 'total-hashrate-{{ worker.pk }}', {{ worker.total_hashrate_data|safe }}, ["#6df36d"])
                    </script>
                </div>
                <div class="col-md-12">
                    <div id="hashrates-{{ worker.pk }}" width="900" height="200"></div>
                    <script>
                        drawChart('GPUs\' hashrates', 'hashrates-{{ worker.pk }}', {{ worker.hashrates_data|safe }}, ["#6d6df3", "#6d8ef3", "#6db0f3", "#6dd2f3", "#6df3f3", "#6df3d2"])
                    </script>
                </div>
                <div class="col-md-12">
                    <div id="temperatures-{{ worker.pk }}" width="900" height="200"></div>
                    <script>
                        drawChart('GPUs\' temperatures', 'temperatures-{{ worker.pk }}', {{ worker.temperatures_data|safe }}, ["#f36d6d", "#f38e6d", "#f3b06d", "#f3d26d", "#f3f36d", "#d2f36d"])
                    </script>
                </div>
                <div class="col-md-12">
                    <div id="fan-speeds-{{ worker.pk }}" width="900" height="200"></div>
                    <script>
                        drawChart('GPUs\' fan speeds', 'fan-speeds-{{ worker.pk }}', {{ worker.fan_speeds_data|safe }}, ["#6df3d2", "#6df3f3", "#6dd2f3", "#6db0f3", "#6d8ef3", "#6d6df3"])
                    </script>
                </div>
                <hr/>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
    </body>
</html>
