{% load static %}

<html>
    <head>
        <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            {% for farm in farms %}
            <div class="col-md-12">
                <h1>{{ farm.label }}</h1>
                {% for worker in farm.workers.all %}
                <h3>{{ worker.label }}</h3>
                <p>{{ worker.description }}</h4>
                <div class="col-md-3"><b>Shares</b> {{ worker.newest_stat.shares }}</div>
                <div class="col-md-3"><b>Rejected Shares</b> {{ worker.newest_stat.rejected_shares }}</div>
                <div class="col-md-3"><b>Uptime</b> {{ worker.newest_stat.uptime }}</div>
                <div class="col-md-12">
                    <h5>Total hashrate</h5>
                </div>
                <div class="col-md-12">
                    <h5>Temperatures</h5>
                </div>
                <div class="col-md-12">
                    <h5>Hashrates</h5>
                </div>
                <div class="col-md-12">
                    <h5>Fan speeds</h5>
                </div>
                <hr/>
                {% endfor %}
            </div>
            {% endfor %}
        </div>
        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/chart.min.js' %}"></script>
    </body>
</html>
